# =========================
# Global / OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Dependencies
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
postman

# =========================
# Environment Variables
# =========================
# Never commit these!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.postman

# =========================
# Next.js (Frontend) Build Files
# =========================
.next/
out/
build/
.vercel/